<h2><%= t("honey  majak") %></h2>

<div class="address">
	<div class="list_item home">Postbox 3104 Elisenberg,<br />0207 Oslo, Norway</div>
	<div class="list_item phone">+47 456 84 320</div>
	<div class="list_item mail"><a href"mailto: info@honeymajak.eu">info@honeymajak.eu</a></div>
	<div class="list_item browser"><a href="http://www.honeymajak.eu">www.honeymajak.eu</a></div>
</div>
